.nebo{
    background: rgb(48, 248, 251);
}
.yellow{
    background: yellow;
}
.green{
    background: rgb(14, 101, 14);
}
.red{
    background: red;
}
.brown{
    background: brown;
}
.blue{
    background: blue;
}
